fastapi
uvicorn
pandas
numpy
torch
transformers
scikit-learn
redis
feast
confluent-kafka
pyspark==3.4.4
mlflow
evidently
prometheus-fastapi-instrumentator
great-expectations
pytest
flake8
joblib
pyarrow
